body {
	text-align : center;
	background-color: #f5f5f5;
}

h1 {
	color : #ef9a9a;
	font-family: 'Sansita One', cursive;
}

#todo {
	width : 30%;
	box-shadow : 1px 1px 1px #B1ACAC;
	height: 40px;
	background-color: #fafafa;
	font-family: 'Montserrat', sans-serif;
}

#todoListe {
	list-style: none;
	width : 30%;
	margin : auto;
	padding-left : 0;
	text-align : left;
}

#todoListe li {
	box-shadow : 1px 1px 1px #B1ACAC;
	height: 40px;
	border : 1px solid #B1ACAC;
	background-color: #fafafa;
	font-family: 'Bad Script', cursive;
	padding-left : 10px;
}

#todoListe input {
	margin-right: 20px;
}

li {
	position : relative;
}
li button {
	position : absolute;
	right : 0;
	color : #ef9a9a;
	box-shadow : none;
	border : none;
	margin-right: 0;
}

button {
	margin : 20px;
	margin-top : 1%;
	font-family: 'Josefin Sans', sans-serif;
	border-radius: 0;
	box-shadow : 1px 1px 1px #bdbdbd;
	border : 1px solid #e0e0e0;
	padding : 3px 20px;
	clear : both;
}

.hide {
	display : none;
}

.raye {
	text-decoration : line-through;
}